node_modules
.next/cache
out
dist
build
coverage

.DS_Store
.vscode
.idea

.env
.env.*
*.local
*.pid
*.seed
*.log
*.secret

.git
.gitignore
.gitattributes

__tests__/
test/
tests/
docs/
*.md

assets/p-k/
backups/
videos/
scripts/
raw/
public/uploads/
public/videos/

jenkins/
cloudflared/
nginx/

*.tar
*.zip
*.tgz
*.gz
*.bak